body{
    margin: 0;
    padding: 0;
    background-color: black;
    color:whitesmoke
}

h1{
    text-align: center;
}

#textArea{
    display: flex;
    justify-content: center;
    text-align: center;
}

button{
    text-align: center;
}